body {
  background: #333;
  color: #fff;
}

.App {
  text-align: center;
}

.taskBg {
  background-color: #555;
  border-radius: 18px;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
}

.done {
  text-decoration: line-through;
}

.taskText {
  flex: 1;
}

.taskBg .done .taskText {
  text-decoration: line-through;
  opacity: 0.3;
}

.iconsWrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}

.iconsWrap > span {
  margin: 0px 10px 0px 0px;
  display: inline-block;
  cursor: pointer;
  color: #00ff89
  ;
}

.iconsWrap > span:hover {
  color: yellow;
}